<div class="container-fluid">
  <div class="row">
    <div id="sidebar" class="bg-body-tertiary min-vh-100 collapse collapse-horizontal show">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-3 fs-5 mt-1 mb-1 link-dark" href="#" data-bs-parent="#sidebar">
            <i class="bi bi-house-door-fill"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-3 fs-5 mt-1 mb-1 text-dark" routerLink="/courses" data-bs-parent="#sidebar">
            <i class="bi bi-journal-bookmark-fill"></i>Classes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-3 fs-5 mt-1 mb-1 text-dark" href="#" data-bs-parent="#sidebar">
            <i class="bi bi-people-fill"></i>People
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-3 fs-5 mt-1 mb-1 link-dark" href="#" data-bs-parent="#sidebar">
            <i class="bi bi-chat-dots-fill"></i>Chats
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
