<div id="sidebar" class="collapse collapse-horizontal show bg-body-tertiary min-vh-100">
  <ul class="nav flex-column" style="width: 300px;">
    <li class="nav-item mt-2 mb-2"><a href="#" class="nav-link text-dark" aria-current="page">
      <i class="bi bi-house-door-fill pe-4 ps-1 fs-5"></i>
      Home
    </a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link text-dark" routerLink="/courses">
      <i class="bi bi-journal-bookmark-fill pe-4 ps-1 fs-5"></i>
      Classes
    </a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link text-dark">
      <i class="bi bi-people-fill pe-4 ps-1 fs-5"></i>
      People
    </a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link text-dark">
      <i class="bi bi-chat-dots-fill pe-4 ps-1 fs-5"></i>
      Chats
    </a></li>
  </ul>
</div>
