<div class="card mb-2 ms-3 me-3 h-100 rounded-3">
  <img ngSrc="/bg.jpeg" class="card-img-top" alt="course" height="200" width="300">
  <div class="card-img-overlay text-white">
    <h5 class="card-title">{{ course.name }}</h5>
    <p class="card-text">Domain: {{ course.domain }}</p>
    <p class="card-text">Stage: {{ course.educationalStage }}</p>
    <p class="card-text">Grade: {{ course.grade }}</p>
  </div>
  <div class="card-body position-relative">
    <p class="card-text">{{ course.description }}</p>
    <div class="d-grid d-sm-flex justify-content-md-center">
      <button type="button" class="btn btn-outline-success me-sm-2" (click)="joinCourse(course.id)" >Join</button>
      <button type="button" class="btn btn-outline-danger" (click)="leaveCourse(course.id)" >Leave</button>
    </div>
  </div>
</div>

